<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wplaceholderth=device-wplaceholderth, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>trang edit ca si</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>wdwd
    <%= Singer1.id  %>
        <label for="1"><%- Singer1.name %></label>
    
    <div class="container">
        <div class="col-md-7">
            <h1>Form chinh sua thong tin ca si</h1>
            <form role="form" method="POST" action="/add-singer">
                <div class="form-group">
                    <label for="1">Nhap ten ca si</label>
                    <input type="text" class="form-control" name="txtName" id="1" placeholder="Nhap ten ca si">
                </div>
                <div class="form-group">
                    <label for="2">nhap ten hinh anh</label>
                    <input type="text" class="form-control" name="txtAvata" id="2" placeholder="nhap ten hinh anh">
                </div>
                <div class="form-group">
                    <label for="3">chon link lien ket</label>
                    <input type="text" class="form-control" name="txtLink" id="3" placeholder="nhap link lien ket">
                </div> <button type="submit" class="btn btn-success">Them moi</button>
            </form>
        </div>

    </div>

</body>

</html>